div.mother {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


.vanilla-text,
.title .back-home,
.title .title-text,
.post-cell {
    font-family: "Source Code Pro", "Courier Prime";
    font-weight: 400;
    font-size: 12pt;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.title .back-home {
    font-size: 12pt;
    text-decoration: underline;
}

.title .title-text {
    font-size: 22pt;
    font-weight: 300;
    text-align: center;
}

.mother div.title {
    /* background-color: lightblue; */

    margin-left: 180px;
    margin-right: 180px;
    margin-top: 80px;
    border-bottom: 1px solid lightgray;
}

.mother .horizontal-separator {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border-bottom: 2px solid rgba(128, 128, 128, .2); */
    border-bottom: 1px solid lightgray;
}

.mother .body-container {
    display: flex;
    flex-direction: column;
    /* background-color: lightpink; */
    margin-top: 60px;
    margin-left: 180px;
    margin-right: 180px;
    align-items: center;
}

.mother .body-container .post-box {
    flex: 1;
    /* background-color: lightcoral; */
    padding-right: 0px;
    max-width: 1000px;
}

div.post-cell {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    line-height: 20pt;
}

div.post-cell .post-count {
    padding-right: 15px;
}

a.post-title {
    margin: 0;
    font-weight: bold;
    /* background-color: #F2BB05; */
    background-color: #FFFE7A;
    font-size: 16px;
    color: black;

}

div.post-description>p {
    /* font-size: 11pt; */
    text-align: justify;
    word-spacing: -4px;
}

video.Cam1 {
    width: 100%;
    max-width: 850px;
    margin-top: 30px;
    margin-bottom: 30px;

}

img.Cam1,
img.Cam2,
video.Cam3,
video.Cam4 {
    width: 100%;
    max-width: 850px;
    margin-top: 30px;
    margin-bottom: 30px;

}


/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {

    .mother .body-container {
        /* background-color: lightpink; */
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .mother .body-container .post-box {
        flex: 1;
        /* background-color: lightcoral; */
        padding-right: 0;
    }

    .mother div.title {
        /* background-color: lightblue; */
        margin-top: 80px;
        margin-left: 30px;
        margin-right: 30px;
        border-bottom: 1px solid lightgray;
    }
}